header{
  height: 110px;
  position: relative;
  margin-bottom: 0px;
  }


header h1 {
  font-size: 4em;
  margin: 0px;
  text-shadow: 2px 1px silver;
  margin-left: 110px;
  width: max-content;
}

header img.banner{
  height: 223px;
  width: 100%;
}

header div.headerCont {
  position: fixed;
  width: 100%;
  height: 110px;
  margin-right: 10px;
}

header div.headerBackr{
  background-color: #03da03e5;
  height: 110px;
  margin-right: 16px;
}

#logo{
  position: absolute;
  left: 10px;
}
#logo img{
  height: 100px;
}

nav{
  float: left;
  display: block;
  height: auto;
  font-size: 1.3em;
  position: absolute;
  left: 130px;
  width: max-content;

}

nav a{
  margin-right: 50px;
  background-color: rgb(51, 51, 148);
  color: rgb(255, 255, 255);
  border: solid 3px black;
  font-weight: bold;
  padding: 3px;
  box-shadow: 3px 3px rgba(0, 0, 0, .7);
  
}

nav a:hover{
  transition: 0.4s;
  box-shadow: 1px 1px rgba(0, 0, 0, .7);
}

nav a:link{
  text-decoration:none;
  
}

nav a.actual{
  background: green;
}

.subtitule h2{
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 0px;
  border: double grey 5px;
  font-size: 2em;
}

section{
  margin-left: 300px;
  font-size: 1.5em;
}

article h2{
  border-bottom: 2px black dotted;
}

article p{
  margin-left: 5%;
}

.galery{
  float: left;
  border: double 5px grey;
}
.galery img{
  display: block;
}

.rules {
  text-align: center;
}

.rules dl{
  text-align: left;
}
dt{
  line-height: 2;
  margin: 2em 0 0 0;
  font-weight: bolder;
}

ul{
  list-style-type: square;
}

ol ol{
  list-style-type: lower-latin;
}

table{
  text-align: center;
  margin: 2em;
  width: 700px;
  border: solid;
  padding: 10px;
  border-collapse: collapse;
  box-shadow: 3px 3px rgba(0, 0, 0, .7)
}

#locations{
  width: 950px;
} 

th{
  border: solid;
  padding: 6px;
  background: green;
}

td{
  border: solid;
  padding: 6px;
}

form{
  width: 70%;
  margin-left: 300px;
  background: greenyellow;
  padding: 30px;
  border-radius: 30px;
  line-height: 2em;
}

fieldset{
  margin:10px;
  border-color: black;
  border-style: solid;
  box-shadow: 6px 6px darkgreen;
  border-radius: 20px;
}


select{
  margin-right: 10%;
}

input[name=Signature]{
  width: 40%;
  resize: none;
}

button{
  font-size: 1.7em;
  display: block;
  margin: auto;
  text-transform: uppercase;
  
}

form p{
  line-height: 1.3em;
}
